
/* Your CSS Code here. */
nav{
	background-color: white;
}
#quote{
	background-color: lightgray;
	padding: 20px;
}

#actor{
	background-color: lightblue;
	padding: 20px;
	
}

summary{
	padding: 20px;
	background-color: lightcyan;
}

#header{
	text-align: center;
}